/*
 * This files contains global color definitions and css rules. 
 * The more specific css classes are defined in the relevant 
 * UIBinder definitions. 
 * 
 * @author $Author: harald.pehl $
 * @version $Date: 2010-09-22 17:30:50 +0200 (Mi, 22 Sep 2010) $ $Revision: 85 $
 */
@def turquoise0 #e7f8fb;
@def turquoise1 #b8f5ff;
@def turquoise2 #3cc5de;
@def turquoise3 #3eb0c7;
@def turquoise4 #40a2b7;
@def turquoise5 #1b92a8;
@def green0 #dbf1aa;
@def green1 #e9ffbf;
@def green2 #c4e96e;
@def green3 #b2da8e;
@def green4 #93cb2b;
@def green5 #8ac401;
@def grey0 #eaeaea;
@def grey1 #dedede;
@def grey2 #62635e;
@def grey3 #3d3d3d;
@def yellow0 #fff8ba;
@def yellow1 #e5dc8a;
@def yellow2 #d1c24f;
@def pink0 #ef5f92;
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video
    {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    background-color: grey0;
}

article,aside,dialog,figure,footer,header,hgroup,nav,section {
    display: block;
}

ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,input,select {
    vertical-align: middle;
    margin: 0;
}

/* This is used for tags */
mark {
    -webkit-border-top-left-radius: 40px;
    -webkit-border-bottom-left-radius: 40px;
    -moz-border-radius-topleft: 40px;
    -moz-border-radius-bottomleft: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 1px yellow2 solid;
    background-color: yellow0;
    padding: 2px 2px 2px 5px;
}

.whiteBox {
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey2;
    -moz-box-shadow: 2px 2px 2px grey2;
    -webkit-box-shadow: 2px 2px 2px grey2;
}