/*
 * Class to select the active navigatino entry.
 * Used in NavigationPresenter.MyView.highlight(String)
 */
@sprite .selected {
    width: auto;
    height: auto;
    gwt-image: "selectedNavigation";
    background-position: center bottom;
}