/*
 * Class to select the active navigatino entry.
 * Used in NavigationPresenter
 */
@sprite .selectedNavigationEntry {
    width: auto;
    height: auto;
    gwt-image: "selectedNavigation";
    background-position: center bottom;
}

/*
 * Classes to select the active date.
 * Used in NewActivityPresenter
 */
a.selectedDate {
    background-color: #68d6ea !important;
}

a.selectedDate:hover {
    color: #68d6ea !important;
    background-color: white !important;
}
