/*
 * Basic element styles and custom widgets
 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video
    {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    background-color: #eaeaea;
}

article,aside,dialog,figure,footer,header,hgroup,nav,section {
    display: block;
}

h1 {
    font-size: 133%;
    font-style: italic;
    text-transform: capitalize;
    margin: 10px 10px 0px 10px;
    border-bottom: 1px solid #dedede;
}

p {
    margin: 10px;
    line-height: 1.2em;
}

h1,h2,p,input,td,div {
    color: #3d3d3d;
}

ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,input,select {
    vertical-align: middle;
    margin: 0;
}

/* This is used for tags */
mark {
    -webkit-border-top-left-radius: 40px;
    -webkit-border-bottom-left-radius: 40px;
    -moz-border-radius-topleft: 40px;
    -moz-border-radius-bottomleft: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 1px #d1c24f solid;
    background-color: #fff8ba;
    padding: 2px 2px 2px 5px;
}
