@external tire-tagsEditor, existing, tire-calendarPopup, gwt-DatePicker, datePickerMonthSelector, datePickerDays, datePickerWeekdayLabel, datePickerWeekendLabel, datePickerDayIsToday, datePickerDayIsWeekend, datePickerDayIsFiller, datePickerDayIsValue, datePickerDayIsDisabled, datePickerDayIsHighlighted, datePickerDayIsValueAndHighlighted, datePickerMonthSelector, datePickerMonth, datePickerDay, datePickerPreviousButton, datePickerNextButton, gwt-PopupPanelGlass, suggestPopupMiddleCenterInner, item, item-selected;
.tire-tagsEditor mark {
    cursor: pointer;
}

.tire-tagsEditor mark.existing {
    float: left;
    margin-right: .5em;
    margin-bottom: 4px;
}

.tire-tagsEditor mark.existing:hover {
    text-decoration: line-through;
    opacity: .5;
}

.tire-tagsEditor input {
    float: right; 
    width : 9em;
    margin-left: 8px;
    -webkit-border-top-left-radius: 40px;
    -webkit-border-bottom-left-radius: 40px;
    -moz-border-radius-topleft: 40px;
    -moz-border-radius-bottomleft: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 1px #d1c24f solid;
    background-color: #fff8ba;
    padding: 2px 2px 2px 5px;
    text-align: center;
}

.tire-calendarPopup {
	box-shadow: #666 0px 4px 10px;
	-moz-box-shadow: #666 0 px 4 px 10 px;
	-webkit-box-shadow: #666 0 px 4 px 10 px;
}

.gwt-DatePicker {
	border: 1px solid #3d3d3d;
	color: #3d3d3d;
	cursor: default;
}

.gwt-DatePicker td,.datePickerMonthSelector td:focus {
	outline: none
}

.datePickerDays {
	width: 100%;
	background: white;
}

.datePickerDay,.datePickerWeekdayLabel,.datePickerWeekendLabel {
	font-size: 90%;
	text-align: center;
	padding: 5px;
	outline: none;
}

.datePickerWeekdayLabel,.datePickerWeekendLabel {
	color: white;
	background: #1b92a8;
	padding: 5px;
	cursor: default;
}

.datePickerDay {
	padding: 5px;
	cursor: hand;
	cursor: pointer;
}

.datePickerDayIsToday {
	border: 1px solid black;
	padding: 4px;
}

.datePickerDayIsWeekend {
	background: #dedede;
}

.datePickerDayIsFiller {
	color: #62635e;
}

.datePickerDayIsValue {
	color: white;
	background: #68d6ea;
}

.datePickerDayIsDisabled {
	color: #dedede;
	font-style: italic;
}

.datePickerDayIsHighlighted {
	background: #b8f5ff;
}

.datePickerDayIsValueAndHighlighted {
	background: #3cc5de;
}

.datePickerMonthSelector {
	background: #c3d9ff;
	width: 100%;
}

td.datePickerMonth {
	text-align: center;
	vertical-align: center;
	white-space: nowrap;
	font-size: 90%;
	color: white;
	background: #1b92a8;
}

.datePickerPreviousButton,.datePickerNextButton {
	font-size: 110%;
	color: white;
	background: #1b92a8;
	cursor: hand;
	cursor: pointer;
	padding: 0px 5px;
}

.gwt-PopupPanelGlass {
	background-color: #333;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.suggestPopupMiddleCenterInner {
	background-color: white;
	border: 1px solid #3d3d3d;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 2px 2px 2px #62635E;
	-moz-box-shadow: 2px 2px 2px #62635E;
	-webkit-box-shadow: 2px 2px 2px #62635E;
}

.suggestPopupMiddleCenterInner .item {
	cursor: pointer;
	padding: 5px;
	color: #3d3d3d;
	border-bottom: 1px solid #3d3d3d;
}

.suggestPopupMiddleCenterInner .item-selected {
	background-color: #3d3d3d;
	color: white;
}
