/* ------------------------------------------ Overwritten CellTable classes */
.cellTableWidget {
	
}

.cellTableFirstColumn {
	
}

.cellTableLastColumn {
	
}

.cellTableHeader {
	
}

.cellTableCell,.cellTableFooter {
	text-align: left;
	font-size: 11pt;
	line-height: 2em;
	padding: 5px 10px;
	border-top: 1px solid #dedede;
}

.cellTableCell {
	cursor: pointer;
	border-bottom: 1px solid #dedede;
}

.cellTableFooter {
	font-weight: bold;
}

.cellTableFirstColumnFooter {
	
}

.cellTableFirstColumnHeader {
	
}

.cellTableLastColumnFooter {
	
}

.cellTableLastColumnHeader {
	
}

.cellTableEvenRow {
	
}

.cellTableEvenRowCell {
	
}

.cellTableOddRow {
	
}

.cellTableOddRowCell {
	
}

.cellTableHoveredRow {
	
}

.cellTableHoveredRowCell {
	
}

.cellTableKeyboardSelectedRow {
	
}

.cellTableKeyboardSelectedRowCell {
	
}

.cellTableSelectedRow {
	
}

.cellTableSelectedRowCell {
	
}

.cellTableKeyboardSelectedCell {
	
}

.cellTableSortedHeaderDescending {
	
}

.cellTableSortedHeaderAscending {
	
}

.cellTableSortableHeader {
	
}

@sprite .cellTableLoading {
	gwt-image: 'cellTableLoading';
	margin: 30px;
}

/* ----------------------------------------------- Custom CellTable classes */
@-webkit-keyframes pulse {
    0% {        
        background-color: rgb(231, 248, 251);    
    }   
    50% {       
        background-color: rgb(184, 245, 255);    
    }  
    100% {
        background-color: rgb(231, 248, 251);
    } 
}
@-moz-keyframes pulse {
    0% {        
        background-color: rgb(231, 248, 251);
    }   
    50% {       
        background-color: rgb(184, 245, 255);    
    }  
    100% {
        background-color: rgb(231, 248, 251);
    } 
}
@-ms-keyframes pulse {
    0% {        
        background-color: rgb(231, 248, 251);
    }   
    50% {       
        background-color: rgb(184, 245, 255);    
    }  
    100% {
        background-color: rgb(231, 248, 251);
    } 
}
@-o-keyframes pulse {
    0% {        
        background-color: rgb(231, 248, 251);
    }   
    50% {       
        background-color: rgb(184, 245, 255);    
    }  
    100% {
        background-color: rgb(231, 248, 251);
    } 
}
@keyframes pulse {
    0% {        
        background-color: rgb(231, 248, 251);
    }   
    50% {       
        background-color: rgb(184, 245, 255);    
    }  
    100% {
        background-color: rgb(231, 248, 251);
    } 
}

.activeActivity {
	background-color: rgb(231, 248, 251);
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 4s;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: pulse;
	-moz-animation-duration: 3s;
	-moz-animation-direction: alternate;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
	-ms-animation-name: pulse;
	-ms-animation-duration: 3s;
	-ms-animation-direction: alternate;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: ease-in-out;
	-o-animation-name: pulse;
	-o-animation-duration: 3s;
	-o-animation-direction: alternate;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: ease-in-out;
	animation-name: pulse;
	animation-duration: 3s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.oddDays {
	background-color: #e9ffbf;
}

.startColumn {
	width: 7em;
}

.durationFromToColumn {
	width: 8em;
}

.durationInHoursColumn {
	width: 4em;
}

.nameColumn {
	
}

.projectColumn {
	
}

.actionsColumn {
	width: 40px;
}

.hideActions {
	visibility: hidden;
}